/* OrderHistory.css */
body {
  height: 100vh;
  background-image: url('BG-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.box {
  position: relative;
  overflow: hidden;
}

.box .rectangle {
  background-color: #903a36;
  box-shadow: 0px 0px 40px 40px #00000066;
  height: 100%;
  left: 1.4%;
  position: fixed;
  top: 0;
  width: 97%;
  z-index: 2;
}

.content {
  position: relative;
  margin-top: 0%;
  padding: 3%;
  z-index: 3;
  display: flex;
  height: 60vh; /* Adjust the height as needed */
}

.account-heading {
  position: absolute;
  left: 7%;
  top: 22%;
  z-index: 4;
}

.RouterLink {
  color: #f08b2de6;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  width: 48%;
}

.value {
  width: 48%;
  margin-left: 4%;
}

.rectangleline1 {
  background-color: #f19408ec;
  box-shadow: 0px 4px 4px #00000040;
  height: 5px;
  position: absolute;
  width: 89%;
  border-radius: 22px;
  top: 40%;
  left: 5%;
  z-index: 5;
}

.rectangleline2 {
  background-color: #f19408ec;
  box-shadow: 4px 4px 0px #00000040;
  height: 5px;
  position: absolute;
  width: 89%;
  border-radius: 22px;
  top: 50%;
  left: 5%;
  z-index: 5;
}

.order-details-info {
  color: #ffffff;
  margin-left: 2%;
  margin-top: 11%;
}

.order-details-info p:first-child {
  font-size: 24px; /* Adjust the font size as needed */
}

.order-details-info p:nth-child(2) {
  font-size: 20px; /* Adjust the font size as needed */
}

.product-description {
  color: #ffffff;
  font-weight: bold;
  margin-left: 70px; /* Adjust the margin as needed */
}

.description-label {
  color: #ffffff;
  font-weight: bold;
  margin-right: 43px; /* Adjust the margin as needed */
}

.item-ids {
  color: #ffffff;
  font-weight: bold;
  margin-left: 160px; /* Adjust the margin as needed */
}

.sold-by {
  color: #ffffff;
  font-weight: bold;
  margin-left: 75px; /* Adjust the margin as needed */
}

.visit-store-link {
  color: #f19408ec; /* Adjust the color as needed */
  text-decoration: none;
  margin-left: 152px;
  font-size: 20px;
}

.review-product-link {
  color: #f19408ec; /* Adjust the color as needed */
  text-decoration: none;
  margin-left: 120px; /* Adjust the margin as needed */
  font-size: 20px; /* Adjust the font size as needed */
}

.delivery-info {
  color: #ffffff;
  font-weight: bold;
  margin-left: 97px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

.Unit {
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px; /* Adjust the margin as needed */
}

.UnitPrice {
  color: #ffffff;
  font-weight: bold;
  margin-left: 100px; /* Adjust the margin as needed */
}

.Qty {
  color: #ffffff;
  font-weight: bold;
  margin-left: 90px; /* Adjust the margin as needed */
}

.Total {
  color: #ffffff;
  font-weight: bold;
  margin-left: 90px; /* Adjust the margin as needed */
}

.product-code {
  color: #ffffff;
  font-weight: bold;
  margin-left: 100px; /* Adjust the margin as needed */
}

.order-total {
  color: #ffffff;
  font-weight: bold;
  margin-left: 127px; /* Adjust the margin as needed */
}

.order-quantity {
  color: #ffffff;
  font-weight: bold;
  margin-left: 140px; /* Adjust the margin as needed */
}

.order-total-p100 {
  color: #ffffff;
  font-weight: bold;
  margin-left: 115px; /* Adjust the margin as needed */
}

.order-total-text {
  color: #ffffff;
  margin-left: 490px; /* Adjust the margin as needed */
  font-size: 25px;
}

.order-total--p100 {
  color: #ffffff;
  font-weight: bold;
  margin-left: 86px; /* Adjust the margin as needed */
  font-size: 21px;
}